<%- include('./partials/header.ejs') %>

    <link rel="stylesheet" href="/stylesheets/produtos.css">


    <body>
        <div class="pesquisa">
            <h1>Listagem de produtos:</h1>
            <form action="/produtos/search" class="formulario" method="get">
                <input type="text" placeholder="Pesquise um produto" name="key">
                <input type="submit" value="Buscar">
            </form>
        </div>

        <div class="container-principal">

            <table class="tabela">
                <tr>
                    <th>Código</th>
                    <th>Nome do produto</th>
                    <th>Ações</th>
                </tr>
                <% produtos.forEach(produto=> { %>
                    <tr>
                        <td>
                            <%= produto.codigo %>
                        </td>
                        <td>
                            <%= produto.nome %>
                        </td>
                        <td><a href="/produtos/ver/<%= produto.id %>" class="botao">Editar</a></td>
                    </tr>
                    <% }) %>
            </table>

            <nav class="paginacao">
                <ul> Página
                    <% for(let nrPagina = 1; nrPagina <= totalPagina; nrPagina++ ) { %>
                        <li class="pageItem"><a href="?Page=<%=nrPagina %>"> <%=nrPagina %></a></li>
                        <% } %>
                </ul>
            </nav>
        </div>
    </body>